@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass {
        @apply text-white filter drop-shadow-lg backdrop-blur-2xl rounded-2xl;
        background-image: url(/images/card_bg.png);
        border: 1px solid rgba(255, 255, 255, 0.205);
        border-bottom: 1px solid rgba(82, 75, 75, 0.205);
        border-left: 1px solid rgba(82, 75, 75, 0.205);
    }

    .glass-container {
        @apply rounded-2xl;
        background: linear-gradient(
            195deg,
            rgba(255, 255, 255, 0.1) 5.52%,
            rgba(255, 255, 255, 0) 62.6%
        );
    }

    .bg-colors-1 {
        background-image: url(/images/bg-colors.svg);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bg-colors-2 {
        background-image: url(/images/bg-colors-2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0 490px 300px -280px #020116;
    }

    .tic-experience-shadow {
        box-shadow: inset 0px -500px 210px -290px #020116;
    }
}

* {
    transition: all 0.1s ease-in-out;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
