.fixed-searchbar {
    position: absolute;
    background-color: #45249d;
    margin-left: -3.5rem;
    margin-top: -3.5rem;
    padding: 0.75rem;
}

.project-card {
    background-color: #00000085;
    margin: 0.5rem;
    padding: 1.5rem;
}

.student-card {
    background-color: #00000085;
    margin: 0.5rem;
    padding: 1.5rem;
}
